<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <div class="profile">
            <img src="https://source.unsplash.com/random/70x70?sig=3" />
        </div>
       
        <h1>Welcome <%= userEmail.Name %> </h1>
        <ul>
            <li><%= post.title %></li>
            <li><%= post.body %></li>
    
        </ul>
        <% for (var i =0; i <post.img.length;  i++ ) { %>
            <img src="<%= post.img[i] %>" />
            <% if((i+1)%3==0) { %>
                <br>
                <% } %>
    
    
            
        <% } %>
    </div>
    
    

    
</body>
</html>
