<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="POST" action="/login">
      
        <div class="Main">
          <h3> Login Form</h3>
          
          <input class="box1" type="email" name="email" placeholder="Enter Your Email">
          <input class="box1" type="text" name="password" placeholder="password">
          <input class="box1" type="submit" value="LOGIN">
        </div>
  
  
      </form>

    
</body>
</html>